<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>LeRefcode </title><!--&mdash; Accueil-->
        <meta charset="utf-8">
        <link rel="icon" href="rdists/images/favicon.png" type="image/png">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="rdists/css/bootstrap-4.3.1.css">
        <link rel="stylesheet" href="css/jquery.fancybox.min.css">
        <link rel="stylesheet" href="css/bootstrap-select.min.css">
        <link rel="stylesheet" href="rdists/fonts/icomoon/style.css">
        <link rel="stylesheet" href="rdists/fonts/line-icons/style.css">
        <link rel="stylesheet" href="rdists/css/owl.carousel.min.css">
        <link rel="stylesheet" href="rdists/css/animate.min.css">
        <link rel="stylesheet" href="rdists/css/design.css">    
    </head>
    <body id="top" style="margin: 0; background: #fdeeef;">
         <section class="site-section overlay bg-image" id="next-section" style="padding: 0;">
            <div class="container-fluid">
                <div class="row">
                    <div id="register_left" class="col-lg-6 col-md-6 col-12 ml-auto mr-auto shadow-sm" style="background:#FFF; padding: 2% 5%;"> 
                        <div class="logo mb-3">
                            <a href="index.html">
                                <img src="rdists/images/brands/reflogo.png" alt="lerefcode" style="display:block; margin: 0 auto; max-width: 100%">
                            </a>
                        </div>
                        <div class="p-4 mb-3 bg-white rounded">
                            <p class="font-weight-light text-danger text-uppercase text-center d-none" id="displayError"></p>
                            <p class="mb-0 font-weight-bold text-center">Entrez votre code pour confirmer</p>
                            <form action="#" method="post" class="mt-4">
                                <div class="row form-group">
                                    <div class="col-6 ml-auto mr-auto">
                                        <input type="text" name="code" id="activateCode" class="form-control">
                                        <span class="small" style="font-size: .8em;"><a href="" class="text-secondary" id="resendCodeLink">Renvoyer le code</a></span>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-5 text-center ml-auto mr-auto">
                                        <input type="submit" id="confirmButton" value="Valider" class="btn btn-outline-primary btn-xs">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
    <script src="rdists/js/jquery.js"></script>
    <!--<script src="rdists/js/jquery.min.js"></script> -->

    <script type="text/javascript" src="view/js/confirmEmailView.js"></script>
</html>